form {
    background-color: palevioletred;
    width: 450px;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    align-items: center;
}

div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
input {
    width: 250px;
    height: 25px;
    justify-content: center;
}

button {
    background-color: black;
    color: palevioletred;
    height: 25px;
    border-radius: 15px;
    width: 150px;
    
    align-items: center;

}